body, ul, li, h1, h2, a {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #F63232;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

header h1 {
    color: white;
    border: 8px solid white;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 50px;
}

nav {
    top: 104px;
    position: sticky;
    background-color: #F4F4F4;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

nav ul {
    white-space: nowrap;
    margin: 0px auto;
    max-width: 1200px;
}

nav ul li {
    display: inline-block;
    width: 25%;
    font-size: 24px;
}

nav ul li a {
    text-decoration: none;
    color: #4B4B4B;
}

nav ul li a.news {
    color: #F63232;
    font-weight: bold;
}

main {
    max-width: 100%;
    position: relative;
    top: 50px;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

section.news li {
    display: block;
}

section.news h2 {
    font-size: 30px;
    color: #4B4B4B;
}

section.news p {
    text-align: justify;
}

section.news img {
    display: block;
    margin: auto auto;
}

section.join {
    background-color: #F4F4F4;
    text-align: center;
    padding: 60px 20px;
    color: #4B4B4B;
}

section.join h2 {
    font-size: 36px;
}

form input {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 20px;
    border: 4px solid white;
    border-radius: 18px;
}

footer {
    background-color: #F63232;
    color: white;
    padding: 10px;
    text-align: center;
}